html, body {
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#fdfcfc, #7a7a7a);
    background-size: cover;
    margin: 0%;
   
  }
  
  
    <style>
      p {
        font-size: 50px;
        text-align:center
        }
      h1 {
        font-size: 40px;
      }
  
      button {
        background-color: transparent;
        width: auto;
        height: 10px;
        border-color: transparent;
        text-align: center;
      }
      
    </style>
  
    h1, p {
    padding: 10px;
  }
  
  div.iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: transparent;
    text-align: center;
  }
  
  .navbar a {
    float: left;
    font-size: 100 px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #c3c0bb;
  }
  
  textarea{
      resize: none;
      padding: 1.5%;
      border-radius: 25px;
  }
  