<!DOCTYPE html>
<html>

<head>
  <header>
    <img src="https://i.imgur.com/nEULDLI.png" alt="logo" id="hp">
    <h1 style="font-family: 'Trebuchet MS'">&nbsp&nbsp;Sentence Saver</h1>
  </header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <style>
    p {
      text-align: center
    }
    form {
      text-align: center
    }

    .button {}
  </style>
  <br><br>
  <article>
    <section>

      <p style="font-family: 'Trebuchet MS'"; >Enter text here to get feedback and resources!</p>
    </section>
  </article>

  <form method="POST" ; action="returnPage.html">
    <textarea style="resize: none; border-radius: 25px; border-color: white;font-family = 'Trebuchet MS'" rows="20"
      cols="65" name="userText" placeholder="  What do you want to say?"></textarea>

    <br>
    <br>
    <script src="script.js"></script>
    <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
    <button type="submit" background-color: transparent><img src="https://i.imgur.com/vc0P4LK.png"
        border="0" /></button>

  </form>
  
  <br><br><br><br><br>
</head>

</html>